<!DOCTYPE html>
<html>
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" sizes="any" mask="" href="/public/favicon.ico">
<title>个人中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
</head>
<body>
<!-- Loader -->
<div class="fh5co-loader"></div>
<div id="fh5co-page">
  <div id="fh5co-features">
    <div class="container">
      <div class="row text-center row-bottom-padded-md">
        <div class="col-md-8 col-md-offset-2 animate-box">
          <figure class="fh5co-devices"><img src="/public/images/img_devices.png" alt="完美显示在所有设备" class="img-responsive"></figure>
        </div>
      </div>
    </div>
  </d>
  <form id="fh5co-projects">
    <div class="container animate-box">
      <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="button" class="btn btn-outline btn-block" onClick="shuru()" value="管理员信息">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input id="con1" name="con1" type="text" class="form-control" value="账号:admin" disabled ="disabled">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input id="con2" name="con2" type="text" class="form-control" value="密码:admin" disabled ="disabled">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input id="con3" name="con3" type="text" class="form-control" value="手机:19906086001" disabled ="disabled">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input id="con4" name="con4" type="text" class="form-control" value="QQ: 2262752545" disabled ="disabled">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <a href="/home">
                <input type="button" class="btn btn-primary btn-lg btn-block" value="回到主页">
              </a>
            </div>
          </div>
        </form>
      </div>
  </fo>
<script src="/public/js/jquery-1.12.4.js"></script>
<script>
		$(function(){

		});
	</script>
</div>
</body>
</html>
